<div flex="50" flex-xs="100" layout="column">
  <md-card>
    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="never" md-selected="vm.selectedIndex">
      <md-tab label="Info">
        <md-content class="md-padding">
          <md-list>
            <md-list-item class="md-2-line">
              <md-icon md-font-library="material-icons">person</md-icon>
              <div class="md-list-item-text" layout="column">
                <h3>{{vm.user.username}}</h3>
                <p>Username</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line">
              <md-icon md-font-library="material-icons">all_inclusive</md-icon>
              <div class="md-list-item-text" layout="column">
                <h3>{{vm.user.age}}</h3>
                <p>Age</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <md-icon md-font-library="material-icons">cake</md-icon>
              <div class="md-list-item-text" layout="column">
                <h3>{{vm.user.birthday}}</h3>
                <p>Birthday</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <md-icon md-font-library="material-icons">notifications</md-icon>
              <div class="md-list-item-text" layout="column">
                <h3>{{vm.user.greeting}}</h3>
                <p>Greeting</p>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
      <md-tab label="Edit">
        <md-content class="md-padding">
          <form name="form" ng-submit="vm.submit(form.$valid)" novalidate>
            <md-input-container class="md-icon-float md-block" flex>
              <label>Username</label>
              <md-icon md-font-library="material-icons">person</md-icon>
              <input ng-model="vm.userTemp.username" name="username" type="text" required minlength="3" md-maxlength="30" username-validation>
              <div class="hint">more than 3 symbols, only letters and numbers allowed</div>
              <div ng-messages="form.username.$error" ng-if="form.username.$touched" multiple>
                <div ng-message="required">This is required.</div>
                <div ng-message="incorrect">Username must contain only letters and numbers.</div>
                <div ng-message="minlength">The name has to be more than 3 characters.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <div layout-gt-xs="row">
              <md-input-container class="md-icon-float md-icon-right md-block" flex>
                <label>Password</label>
                <md-icon md-font-library="material-icons">vpn_key</md-icon>
                <input ng-model="vm.userTemp.password" name="password" type="{{vm.pwdType}}" minlength="3" md-maxlength="30" required password-validation>
                <div class="hint">more than 3 symbols, only letters and numbers allowed</div>
                <div ng-messages="form.password.$error" ng-if="form.password.$touched" multiple>
                  <div ng-message="required">This is requirerd.</div>
                  <div ng-message="required">This is requirerd.</div>
                  <div ng-message="incorrect">Password must contain only letters and numbers.</div>
                  <div ng-message="minlength">The name has to be more than 3 characters.</div>
                  <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
              </md-input-container>
              <md-button class="md-icon-button" aria-label="More" ng-click="vm.pwdVisible()">
                <md-icon md-font-library="material-icons">{{vm.pwdIcon}}</md-icon>
              </md-button>
            </div>
            <md-input-container class="md-icon-float md-block" flex>
              <label>Age</label>
              <md-icon md-font-library="material-icons">all_inclusive</md-icon>
              <input ng-model="vm.userTemp.age" name="age" type="text" required age-min="18" age-max="65" age-validation ng-trim="false">
              <div class="hint">between 18 and 65</div>
              <div ng-messages="form.age.$error" ng-if="form.age.$touched" multiple>
                <div ng-message="required">This is requirerd.</div>
                <div ng-message="noSpaces">Cannot contain any spaces</div>
                <div ng-message="incorrect">Age should be number</div>
                  <div ng-message="ageMin">You're so young!</div>
                  <div ng-message="ageMax">You're so old!</div>
                </div>
              </md-input-container>
              <md-input-container class="md-icon-float md-block" flex>
                <label>Birthday</label>
                <md-icon md-font-library="material-icons">cake</md-icon>
                <input ng-model="vm.userTemp.birthday" name="birthday" type="text" required birthday-validation>
                <div class="hint">date format: 15 January 2015 (DD MMMM YYYY)</div>
                <div ng-messages="form.birthday.$error" ng-if="form.birthday.$touched" multiple>
                  <div ng-message="required">This is required.</div>
                  <div ng-message="incorrect">Incorrect date format</div>
                </div>
              </md-input-container>
              <md-input-container class="md-icon-float md-block" flex>
                <label>Greeting</label>
                <md-icon md-font-library="material-icons">notifications</md-icon>
                <input ng-model="vm.userTemp.greeting" type="text">
              </md-input-container>
              <div layout="column" layout-align="center">
                <md-button type="submit" class="md-raised md-primary" aria-label="Save" ng-disabled="!form.$valid">Save</md-button>
              </div>
          </form>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-card>
</div>